*.out
.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
*.in
*.log
*.nice
*.status
*.sub
configure
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
*.la
*.lo
run-tests.php

